<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Page title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <section class="form-register">
            <h4>Formulario de Registro</h4>
            <form action="enviar.php" method="post">
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="ingrese su nombre"><br>
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="ingrese su apellidos"><br>
                <input class="controls" type="email" name="correo" id="correo" placeholder="ingrese su correo"><br>
                <input class="controls" type="text" name="password" id="contraseña" placeholder="ingrese su contraseña"><br>
                <input class="controls" type="text" name="mensaje" id="mensaje" placeholder="ingrese su mensaje"><br>
                <p>Estoy de Acuerdo Con <a href="./terminosyc.html">Terminos y condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="#">¿Ya Tengo Cuenta?</a></p>
            </form>
        </section>
   
    </body>
</html>